body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

i {
  cursor: pointer;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.form-control {
  border-radius: 0;
}

.authContainer {
  display: flex;
  justify-content: center;
}

.authContainer1 {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: 3rem;
  margin-bottom: 2rem;

  border-style: solid;
  border-color: rgb(234, 231, 234);
  border-width: 0 0 0 .01rem;

  -webkit-box-shadow: 10px 10px 5px -3px rgba(176, 173, 176, 1);
  -moz-box-shadow: 10px 10px 5px -3px rgba(176, 173, 176, 1);
  box-shadow: 10px 10px 5px -3px rgba(176, 173, 176, 1);
}

.authContainer1Login {
  margin-top: 6rem;
}

.authContainer1 form {
  margin: 1rem;
}

.authHeading1 {
  display: flex;
  justify-content: center;
  background-color: #0d6efd;
  margin-bottom: 1rem;

}

.bg1 {
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: normal;
  position: fixed;
  rotate: 180deg;
  width: 100vw;
  z-index: -1;
  height: 100vh;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}


@media only screen and (max-width: 990px) {
  .offcanvas {
    background: #076585;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #fff, #076585);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #fff, #076585);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .auth-btns {
    margin-top: 2rem;
    /* justify-content: center; */
  }

  .nav-list1 {
    /* align-items: center; */
  }

  .offcanvas-body1 .navbar-nav .nav-link.active {
    color: #0657d2;
  }

  .offcanvas-body1 .navbar-nav .nav-link {
    margin-left: .8rem;
  }

  .authContainer1 {
    /* margin-top: 4rem; */
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 260px) {
  .auth-btns {
    margin-top: .5rem;
    flex-direction: column;
    gap: .5rem;
  }

  .authContainer1Login {
    margin-top: 3rem;
  }

}